@charset "UTF-8";
/******* Importera alla scss filer.********** I
******** Ingen Kod ska skrivas här.**********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.allBeersHeader {
  background-image: url("../Pictures/rhett-wesley-beerBottles-unsplash.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 40vh; }
  .allBeersHeader .allBeersText {
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 45px;
    text-transform: uppercase; }

#allBeersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }
  #allBeersContainer .individualBeerContainer {
    flex-grow: 1;
    flex: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 20px rgba(127, 127, 127, 0.1);
    margin: 10px; }
    #allBeersContainer .individualBeerContainer img {
      width: 100%; }

#addToCartBtn {
  background-color: #f7d36e;
  border: 1px solid #f5b301;
  border-radius: 20px;
  color: black;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-top: 5px;
  padding: 3px 25px; }

#cart {
  border: 2px solid #111;
  background-color: #f8efd6;
  position: absolute;
  min-height: 5rem;
  top: 60px;
  right: 20px;
  width: 340px;
  display: none;
  z-index: 999;
  flex-direction: column;
  padding: 20px; }
  #cart h3 {
    text-align: center;
    margin-bottom: 20px; }
  #cart .cartCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    font-size: 12px; }
    #cart .cartCard img {
      width: 60px; }
    #cart .cartCard #cartProductName {
      margin-left: 0; }
    #cart .cartCard button {
      background-color: #f7d36e;
      border: 1px solid #f5b301;
      border-radius: 20px;
      color: black;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      width: 15px;
      border-radius: 2px; }
    #cart .cartCard input {
      width: 25px; }
    #cart .cartCard .fa-trash {
      cursor: pointer; }
  #cart .totalprice {
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 30px;
    height: 50px; }
  #cart #checkoutBtn {
    margin-top: 10px;
    background-color: #f7d36e;
    border: 1px solid #f5b301;
    border-radius: 20px;
    color: black;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    width: 100%; }

.checkoutPage {
  display: flex;
  flex-direction: column;
  justify-content: start; }
  .checkoutPage .cartContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .checkoutPage .cartContainer h2 {
      margin: 30px 0px;
      text-transform: uppercase;
      font-size: 30px; }
    .checkoutPage .cartContainer .productContainer {
      display: flex;
      align-items: center;
      flex-direction: column; }
      .checkoutPage .cartContainer .productContainer .productCard {
        width: 95%;
        margin-top: 15px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 10px rgba(127, 127, 127, 0.1); }
        .checkoutPage .cartContainer .productContainer .productCard .productCardImg {
          width: 50%; }
          .checkoutPage .cartContainer .productContainer .productCard .productCardImg img {
            width: 100%;
            height: 100%; }
        .checkoutPage .cartContainer .productContainer .productCard input {
          width: 20%; }
        .checkoutPage .cartContainer .productContainer .productCard span:hover {
          cursor: pointer; }
    .checkoutPage .cartContainer hr {
      margin-top: 40px;
      margin-bottom: 15px; }
    .checkoutPage .cartContainer .cartTotal {
      width: 80%;
      margin-top: 10px;
      display: flex;
      justify-content: space-between; }
  .checkoutPage .formContainer {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .checkoutPage .formContainer form {
      width: 80%; }
      .checkoutPage .formContainer form button {
        background-color: #fed053;
        border: 1px solid #f5b301;
        color: black;
        border-radius: 20px;
        padding: 5px;
        width: 90%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin-bottom: 20px;
        cursor: pointer; }

.footerSection {
  background-color: #fed053;
  margin-top: auto;
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  @media screen and (min-width: 768px) {
    .footerSection {
      flex-direction: row;
      justify-content: space-evenly;
      height: 100px; } }
  .footerSection .footerLogo {
    text-align: center;
    padding-top: 10px; }
    @media screen and (min-width: 768px) {
      .footerSection .footerLogo {
        flex: 1;
        padding-top: 0; } }
    .footerSection .footerLogo img {
      width: 100px; }
  .footerSection .socialIcons {
    font-size: 16px;
    text-align: center;
    padding: 10px; }
    @media screen and (min-width: 768px) {
      .footerSection .socialIcons {
        flex: 1;
        font-size: 20px; } }
    .footerSection .socialIcons .fa {
      margin-left: 5px;
      color: #000; }
      .footerSection .socialIcons .fa:hover {
        cursor: pointer;
        opacity: 0.7; }
  .footerSection .contactFooter {
    text-align: center;
    line-height: 1.2em;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      .footerSection .contactFooter {
        flex: 1;
        font-size: 16px; } }
    .footerSection .contactFooter a {
      color: #000;
      font-size: 12px;
      text-decoration: none; }
      .footerSection .contactFooter a:hover {
        cursor: pointer;
        opacity: 0.7; }
    .footerSection .contactFooter p {
      font-size: 12px; }

.navbar {
  height: 80px;
  background-color: #fed053;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*menu button*/
  /*menu button*/ }
  .navbar .shoppingCart {
    position: relative;
    right: 20px;
    color: #000; }
  .navbar .menu-btn {
    position: relative;
    left: 20px;
    display: flex;
    flex-direction: column; }
    .navbar .menu-btn > span {
      display: block;
      margin: 2px;
      height: 4px;
      width: 28px;
      border-radius: 10px;
      background-color: #000;
      transition: transform 0.4s ease-in-out, opacity 0.4s; }
    .navbar .menu-btn:hover {
      cursor: pointer; }
    .navbar .menu-btn.active span:nth-child(1) {
      transform-origin: center center;
      transform: rotate(135deg) translate(6px, -2px); }
    .navbar .menu-btn.active span:nth-child(2) {
      transform: translateX(10px);
      opacity: 0; }
    .navbar .menu-btn.active span:nth-child(3) {
      transform-origin: center center;
      transform: rotate(-135deg) translate(9px, 6px); }
  .navbar .shoppingCart {
    position: relative;
    right: 20px;
    color: #000; }
    .navbar .shoppingCart .fa-shopping-cart {
      font-size: 1.2em; }
      .navbar .shoppingCart .fa-shopping-cart:hover {
        cursor: pointer; }
    .navbar .shoppingCart span {
      font-size: 1em;
      margin-left: 5px; }

.menu-panel {
  position: absolute;
  top: 80px;
  width: 100%;
  padding: 10px 0;
  background-color: rgba(254, 208, 83, 0.7);
  transition: all 0.2s ease;
  list-style-type: none;
  display: none; }
  .menu-panel li {
    margin: 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    padding: 10px; }
    .menu-panel li a {
      text-decoration: none;
      color: #000;
      font-weight: 600; }
      .menu-panel li a:hover, .menu-panel li a:active {
        color: #fff; }

.expand {
  display: block; }

#product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px; }
  #product img {
    width: 60%;
    height: 60%; }
  #product p:first-of-type {
    padding-top: 20px; }

hr {
  border-top: 1px solid #8c8b8b;
  width: 80%;
  margin: auto; }

#addToCartDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
  margin-top: 20px; }
  #addToCartDiv div input {
    width: 15%;
    margin: 10px; }
  #addToCartDiv div .increaseAndDecrease {
    background-color: #f7d36e;
    border: 1px solid #f5b301;
    border-radius: 20px;
    color: black;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 0;
    padding: 2px;
    width: 10%;
    font-size: 14px;
    margin-bottom: 20px; }
  #addToCartDiv .addToCartButton {
    background-color: #f7d36e;
    border: 1px solid #f5b301;
    border-radius: 20px;
    color: black;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    width: 90%;
    font-size: 14px;
    margin-bottom: 20px; }

#info {
  margin: 20px;
  display: flex;
  justify-content: center; }
  #info table {
    border-collapse: collapse;
    width: 100%; }
    #info table td,
    #info table th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px; }

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px; }

* {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace; }

.headerContent {
  background-image: url("../Pictures/beerology-startsida.jpg");
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .headerContent .headerText {
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 35px;
    text-align: center; }
    .headerContent .headerText h1 {
      padding-bottom: 10px; }
    .headerContent .headerText p {
      padding-bottom: 200px; }
  .headerContent .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 350px; }
    .headerContent .btn-container .button {
      background-color: #f7d36e;
      border: 1px solid #f5b301;
      border-radius: 20px;
      color: black;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      font-weight: 600;
      padding: 15px 32px;
      font-size: 18px;
      margin: 4px 2px; }

* {
  margin: 0;
  padding: 0; }

.orderPayedHeader {
  background-image: url("../Pictures/beerology-order.jpeg");
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100vh; }
  .orderPayedHeader .orderPayedText {
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 45px;
    text-align: center;
    line-height: 100px; }
  .orderPayedHeader div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 130px; }
    .orderPayedHeader div .button {
      background-color: #f7d36e;
      border: 1px solid #f5b301;
      border-radius: 20px;
      color: black;
      text-align: center;
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      padding: 15px 32px;
      font-size: 18px;
      margin: 4px 2px; }
