.footerSection {
  background-color: #fed053;
  margin-top: auto;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  .footerLogo {
    flex: 1;
    text-align: center;
    img {
      width: 100px;
    }
  }
  .socialIcons {
    flex: 1;
    font-size: 20px;
    text-align: center;
    .fa {
      margin-left: 5px;
      color: #000;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
  .contactFooter {
    flex: 1;
    text-align: center;
    line-height: 1.2em;
    a {
      color: #000;
      font-size: 16px;
      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
    p {
      font-size: 12px;
    }
  }
}
