#product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  img {
    width: 60%;
    height: 60%;
  }

  p:first-of-type {
    padding-top: 20px;
  }
}

hr {
  border-top: 1px solid #8c8b8b;
  width: 80%;
  margin: auto;
}

#addToCartDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10%;
  margin-top: 20px;

  div {
    input {
      width: 15%;
      margin: 10px;
    }

    .increaseAndDecrease {
      background-color: #fed053;
      border: 1px solid #f5b301;
      color: black;
      padding: 2px;
      width: 10%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      margin-bottom: 20px;
    }
  }

  .addToCartButton {
    background-color: #fed053;
    border: 1px solid #f5b301;
    color: black;
    border-radius: 20px;
    padding: 5px;
    width: 90%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
    cursor: pointer;
  }
}

#info {
  margin: 20px;
  display: flex;
  justify-content: center;

  table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
      border: 1px solid #dddddd;
      text-align: center;
      padding: 8px;
    }
  }
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
