* {
  margin: 0;
  padding: 0;
}

.orderPayedHeader {
  background-image: url("../Pictures/beerology-order.jpeg");
  background-position: center top;
  background-size: cover;
  width: 100%;
  height: 100vh;

  .orderPayedText {
    background: rgba(0, 0, 0, 0.2);
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    @include center;
    color: $hero-font-color;
    font-size: 45px;
    text-align: center;
    line-height: 100px;
  }

  div {
    display: flex;
    @include center;
    position: relative;
    bottom: 130px;

    .button {
      @include buttons;
      padding: 15px 32px;
      font-size: 18px;
      margin: 4px 2px;
    }
  }
}
